p {
    background-color: #B3ADFF;
    background-size: auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-wrap: wrap;
    border-radius: 8px
    font-size: 17pt;
}

body{ 
    background: #eee;
    padding: 1rem;
}

p {
    border: black;

}

h3 {
    font-style: italic;
}

article {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0px 690px 80px 0px;
    padding: 5px 5px 5px 5px;
    text-wrap: wrap;
    padding: 20px 10px 20px 10px;
    background-color: #DEDEDE;
}

article .price {
    background-color: #eee;
    border: 4px solid #5d598e;
    border-radius: 7.12344564587637px;
    border
}

.product .add_to_cart:hover {
    cursor: pointer;
    background: #296957;
}